/* loginStyles.css */



body {
    background-color: #D3D3D3;
     background-image: url("C:\Users\GANGISHETTY RITHIKA\Downloads\17973908.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.customTableCell {
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
}
    .customTableCell.expanded {
        white-space: normal; 
        word-break:break-all;
    }

.CustomTable {
    border-collapse: collapse;
    padding:5px;
    width: 100%;
}

    .CustomTable tbody tr td + td {
        border-left: none; /* Remove the border between columns */
    }


.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding-left:200px;
  /*  background-color: #D3D3D3;*/
}
.truncate {
    white-space: normal;
    cursor: pointer;
    word-break: break-all;
}

.my-form {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    max-width: 600px;
    width: 120%;
    height: 500px; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: floralwhite;
}
.my-heading-1 {
    font-weight: bold;
    font-size: 40px; 
    color: #0056b3; 
    font-family: Calibri; 
}


.my-heading-2 {
    font-weight: bold;
    font-size: 30px;
    color: #333; 
    font-family: Calibri 
}



.text-center {
  text-align: center;
  font-family:Arial;
  
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
}
.formControl {
    width: 1000px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.btn-primary {
  width: 150px;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}


.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

    .modal-container.hide {
        display: none;
    }
/* Styling for the connections page container */
.connections-container {
    text-align: center;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    /* Increase the length of the buttons */
    .button-container button {
        margin: 0 10px;
        padding: 10px 20px;
    }
